/* google font poppine */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@600&family=Roboto&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@500&display=swap');

/* common utilities style */
body {
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}