/* google font poppine */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@600&family=Roboto&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@500&display=swap');

/* common utilities style */
body {
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}

p {
    color: #777777;
}

/* slider styles */
@media screen and (min-width:768px) {
    .carousel-caption-custom {
        padding-bottom: 2.25rem !important;
    }
}

@media screen and (min-width:576px) {
    .carousel-caption-custom {
        padding-bottom: 10px !important;
    }
}





/* courses styles */
.Learning-bg {
    background: #F4FAFD;
}